{{- if eq .profile "personal" -}}
{{ include ".chezmoitemplates/ansible/encrypted_private_dot_vault-pass.standard-personal.age" | decrypt | trim }}
{{- else if eq .profile "work" -}}
{{ include ".chezmoitemplates/ansible/encrypted_private_dot_vault-pass.standard-work.age" | decrypt | trim }}
{{- end }}
